<h1>Listing products</h1>

<style type="text/css">
#products
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse:collapse;
}

#products td
{
font-size:1em;
border-top:1px solid #ffffff;
border-bottom:1px solid #ffffff;
padding:3px 7px 2px 7px;
}

tr:nth-child(even) {background: #AFEEEE}
tr:nth-child(odd) {background: #FFB6C1}

.description{
width:100%;

}

.name{
font-size:15px;
color: #4682B4
}


</style>

<table id="products">


<% @products.each do |product| %>
  <tr>
  	 <td>
  	<%if product.image != "default" %>
   		<img border="0" src=<%= product.image %>  width="120" height="120" />
    <%else %>
    	<%=image_tag "noimage.jpg", :width => "120", :height=>"120" %>
    <%end%>
    </td>
    <td class="description"> <div class="name"> <b><%= product.name %></b> </div> </br>
    	<%= product.description %>
	</td>
    <td><%= link_to 'Show', product %></br>
    	<%= link_to 'Edit', edit_product_path(product) %></br>
    	<%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
