<%= stylesheet_link_tag "store" %>

<%= render 'form' %>
	
	<div id="side" > 
		<p id="title" >Your Pragmatic Catalog</p>
	
		<ul id="products">
		<% @products.each do |product| %>
		  <li>	  	
		  	<div id="data">
		  	 	<div class="li1">
		   			<%if product.image != "default" %>
		   				<img src=<%= product.image %>  width="120" height="120" />
		   			<%else %>
		    			<%=image_tag "noimage.jpg", :width => "120", :height=>"120" %> 
		    		<%end%>
		     	</div>
		     	
		    	<div class="li2">
		     		<div class="name"> <b><%= product.name %></b> </div> </br>
	    			<div id="text"><%= product.description %></div> </br>
	    			<div id="price">$<%= product.price %>
    								<%= button_to "Add to Cart", 
    								{ :controller => "carts", :action => "current_cart", :id => @id, :lineItem_id => product.id } %>  
    								</div>
	    			
		    	</div>	
			</div>
		  </li>
		<% end %>
		</ul>
	
	</div>

